*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: floralwhite;
  color: rebeccapurple;
  font-size: 16px;
}

.bottom-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: lightskyblue;
}
